WindowsFormsApplication9/WindowsFormsApplication9/Web References/myserver/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/myserver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/myserver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfguest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="guest" nillable="true" type="tns:guest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfguest" nillable="true" type="tns:ArrayOfguest" />
  <xs:complexType name="guest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Checkin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Checkout" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cnic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rooms" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="guest" nillable="true" type="tns:guest" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>